<!DOCTYPE html>
<html>
<head>
    <link 
        rel="stylesheet" 
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    /> 
    <link
        rel="stylesheet"
        href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"
    />
    <style>
        {% for category, data in source_colors %}
            {% for source, font_color in data['sources'].items() %}
                .source-{{ source }} {
                    background-color: {{ font_color }};
                    color: {{ data['color'] }};
                }
            {% endfor %}
        {% endfor %}

        .badge-source {
            font-size: 8pt;
            margin: 0;
        }


        .nvp {
        }

        .nvm {
            padding-left: 0;
            padding-right: 0;
        }

        .src-api {
            overflow-x: hidden;
        }

        .group, .group-shown {
        }

        .group {
            display: none;
        }

        .super_group_heading, .group_heading, .statement, .evidence {
        }

        .evidence, .evidence-text {
            margin-bottom: 10px;
        }

        .evidence-text {
            margin-right: 5px;
            margin-left: 5px;
        }

        .super_group_heading, .group_heading {
            cursor: pointer;
        }

        .super_group_heading:hover, .group_heading:hover {
            background-color: #f2f2f2;
        }

        .badge-subject {
            background-color: #4a36aa;
            color: #FFFFFF;
        }

        .badge-object {
            background-color: #2d8e4c;
            color: #FFFFFF;
        }

        .badge-other {
            background-color: #606060;
            color: #FFFFFF;
        }

        .curation-row {
            overflow-y: hidden;
        }

        .curation_toggle {
            cursor: pointer;
        }

    </style>
</head>
<body>
    <div class="container: 20px;" style="margin-top: 20px; margin-bottom: 20px;">
        <h1>Protein Analysis Results</h1>
        <ul class="nav nav-tabs", id="resultTabs" role="tablist">
            {% set navigation_bar = [
                ('evidences-tab','#evidences', 'INDRA Statements'), 
                ('families-tab','#sharedfamilies','Shared Families'),
                ('upstream-tab','#upstream','Shared Upstream Bioentities'),
                ('pathways-tab', '#sharedpathways', 'Shared Pathways'),
                ('goterms-tab', '#sharedgoterms', 'Shared Go Terms')
                ] %}
            {% for tab_id, href, caption in navigation_bar %}
                <li class="nav-item">
                    <a class="nav-link" id={{tab_id}} data-toggle="tab" href={{href}} role="tab">{{ caption }}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="container: 20px;" style="margin-top: 20px; margin-bottom: 20px; margin-left: 30px; margin-right: 30px;">
            <div class="tab-content", id="resultTabsContent">
                <div class="tab-pane fade show active" id="evidences" role="tabpanel">
                    <h2>INDRA Statements with Evidences</h2>
                    {% macro badges(src_counts) -%}{% if src_counts %}
                        {% for _, color_dict in source_colors %}
                            {% if loop.index0 > 0 %}<span class="badge badge-source">|</span>{% endif %}
                            {% for src in color_dict['sources'].keys() %}
                                {% if src_counts.get(src) %}
                                    <span class="badge badge-source source-{{ src }}" title="{{ src }}">
                                        {{ src_counts.get(src) }}
                                    </span>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}{%- endmacro %}
                    {% if source_key_dict and simple %}
                        <div class="statements-header">
                            <div class="col col-auto text-center">{{ badges(source_key_dict) }}</div>
                        </div>
                    {% endif %}

                    {% for results in result['indra_stmt_htmls'] %}
                        {% set i_pair = loop.index0 %}
                        <span class="agent-pair">
                        
                        {% if result['indra_stmt_htmls']|length > 1 %}

                            <div class="row super_group_heading"
                                 id="tl-{{ results['html_key'] }}"
                                 onclick="toggler('tl-{{ results['html_key'] }}')">
                          <div class="col-auto nvp">
                            <h5 class="align-middle">{{ results['label']|safe }}</h5>
                          </div>
                          <div class="col text-right nvp">
                            {{ badges(results['source_counts']) }}
                          </div>
                        </div>
                            <div class="row">
                            <div class="col">
                            <div class="group" id="tl-{{ results['html_key'] }}_group">
                    
                        {% else %}
                    
                            <div class="row">
                            <div class="col">
                            <div class="group-shown" id="tl-{{ results['html_key'] }}_group">
                    
                        {% endif %}
                            <div class="container bars nvp">

                        {% for group_dict in results['stmts_formatted'] %}
                                {% set i_type = loop.index0 %}
                        
                                <span class="relation">
                        
                        {% if results['stmts_formatted']|length > 1 %}
                            <div class="row group_heading"
                                onclick="toggler('{{ group_dict['short_name_key'] }}');"
                                id="{{ group_dict['short_name_key'] }}_heading">
                                        <div class="col-auto text-left nvp">
                                            <h5>{{ group_dict['short_name']|safe }}</h5>
                                        </div>
                                        <div class="col text-right nvp">
                                          {{ badges(group_dict['src_counts']) }}
                                        </div>
                                      </div>
                                  <div class="row group" id="{{ group_dict['short_name_key'] }}_group">
                        
                        {% else %}
                        
                            <div class="row group-shown" id="{{ group_dict['short_name_key'] }}_group">
                        
                        {% endif %}       
                            <div class="container bars nvp">
                        {% for group_dict in results['stmts_formatted'] %}
                            {% set i_type = loop.index0 %}
                                <span class="relation">
                            {% if results['stmts_formatted']|length > 1 %}
                                <div class="row group_heading"
                                    onclick="toggler('{{ group_dict['short_name_key'] }}');"
                                    id="{{ group_dict['short_name_key'] }}_heading">
                                <div class="col-auto text-left nvp">
                                    <h5>{{ group_dict['short_name'] }}</h5>
                                </div>
                                <div class="col text-right nvp">
                                    {{ badges(group_dict['src_counts'], available_sources) }}
                                </div>
                                </div>
                                    <div class="row group" id="{{ group_dict['short_name_key'] }}_group">
                      
                            {% else %}
                      
                                    <div class="row group-shown" id="{{ group_dict['short_name_key'] }}_group">
                      
                            {% endif %} 
                                <div class="col">
                                    <div class="container bars nvp"> 
                            {% for stmt_info in group_dict['stmt_info_list'] %}
                                {% set i_stmt = loop.index0 %}  
                                <a name="{{ stmt_info['hash'] }}"></a>
                                <div class="row statement group_heading"
                                     onclick="toggler( '{{ group_dict['short_name_key'] }}-{{ stmt_info['hash'] }}' )"
                                     id="{{ group_dict['short_name_key'] }}-{{ stmt_info['hash'] }}_heading">
                                            <div class="col-auto text-left nvp">
                                              <h5>
                                                {{ stmt_info['english']|safe }}
                                                <a href="
                                                        {% if db_rest_url %}{{ db_rest_url }}/from_hash/{{ stmt_info['hash'] }}?format=html{% else %}#{% endif %}"
                                                   {% if db_rest_url %}target="_blank"{% endif %}>
                                                  <small class="badge badge-secondary badge-pill">{{ stmt_info['evidence_count'] }}</small>
                                                </a>
                                              </h5>
                                            </div>
                                            <div class="col text-right nvp">
                                              {{ badges(stmt_info['source_count']) }}
                                            </div>
                                          </div>  <!-- end statement heading row -->
                                <div class="row group"
                                     id="{{ group_dict['short_name_key'] }}-{{ stmt_info['hash'] }}_group">
                                <div class="col">
                                <div class="container bars" id="stmt-{{ i_pair }}-{{ i_type }}-{{ i_stmt }}"
                                     data-stmt_hash="{{ stmt_info['hash'] }}">
                        {% endfor %}
                            </div> <!-- end stmt container -->
                            </div> <!-- end stmt col -->
                                </div> <!-- end stmt row -->        
                        {% endfor %}
                                </div> <!-- end relation (stmt list) container -->
                                </div> <!-- end relation col -->
                            </div> <!-- end relation row -->
                        </span> <!-- end relation -->


                        {% endfor %}
                                </div> <!-- end agent pair (relation list) container -->
                            </div> <!-- end agent pair group -->
                            </div> <!-- end agent pair col -->
                            </div> <!-- end agent pair row -->
                      </span>
                    {% endfor %}




                    {% for stmt_html_filename in result['indra_stmt_htmls'] %}
                    <iframe src="{{ stmt_html_filename }}" width="800" height="500"></iframe>
                    {% endfor %}
                    <h2> Bar Charts</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <img src="{{ result['interaction_chart'] }}" width="400" height="400" alt="Interaction Chart">
                            </div>
                            <div class="col-md-4">
                                <img src="{{ result['indra_rel_chart'] }}" width="400" height="400" alt="INDRA Relations Chart">
                            </div>
                        </div>
                </div>
                <div class="tab-pane fade" id="sharedfamilies" role="tabpanel">
                    <h2>Shared Families</h2>
                    {{ result['shared_families'] | safe }}
                </div>
                <div class="tab-pane fade" id="upstream" role="tabpanel">
                    <h2>Shared Upstream Bioentities from Target Proteins</h2>
                    {{ result['upstream_entities'] | safe }}
                    <h2>Boxplots for Shared Go Terms and Bioentities</h2>
                    <img src="{{ result['stats_boxplot'] }}" alt="Stats Boxplot">
                </div>
                <div class="tab-pane fade" id="sharedpathways" role="tabpanel">
                    <h2>Shared Pathways Between Source and Enriched Targets Set</h2>
                    {{ result['shared_pathways'] | safe }}
                    <h2>Bar Chart for Frequency of Shared Pathways by Protein</h2>
                    <img src="{{ result['pathways_chart'] }}" width="400" height="400" alt="Pathways Chart">
                </div>
                <div class="tab-pane fade" id="sharedgoterms" role="tabpanel">
                    <h2>Shared Go Terms Between Gene Sets</h2>
                    {{ result['shared_go_terms'] | safe }}
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
   
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.6.12/c3.min.js"></script>

    <script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        setTimeout(function() {
            $('#resultTabsContent .tab-pane table').DataTable();
        }, 100);
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            $($(e.target).attr('href') + ' table').DataTable();
        });
    });
    </script>

<script>
    let ALL_COLLAPSED = true;

    function toggler(short_name_key) {
        /**
         * Toggle the info list elements by changing their class.
         */
            // Find the group associated with this heading.
        let el = document.getElementById(short_name_key + "_group");

        // Toggle the group class between the invisible one and the visible one.
        if (el.classList.contains("group"))
            el.classList.replace("group", "group_shown");
        else
            el.classList.replace("group_shown", "group");
    }

    // Expand/collapse all
    function expandCollapseAll() {
            let expColBtn = document.getElementById('expand-collapse-all');

            // Expand all; set ALL_COLLAPSED = false;
            let show = ALL_COLLAPSED;
            if (ALL_COLLAPSED) {
                ALL_COLLAPSED = false;
                expColBtn.textContent = 'Collapse All';
                // Collapse all; set ALL_COLLAPSED = true;
            } else {
                ALL_COLLAPSED = true;
                expColBtn.textContent = 'Expand All';
            }

            // Loop all tags
            let old_c, new_c;
            if (show) {
                old_c = "group";
                new_c = "group_shown";
            } else {
                old_c = "group_shown";
                new_c = "group";
            }

            let elements = document.getElementsByClassName(old_c);
            let elem_arr = Array();
            for (let el of elements) {
                elem_arr.push(el);
            }
            elem_arr.forEach(el => {
                el.classList.replace(old_c, new_c);
            });
        }
</script>
</body>
</html>